* {
  box-sizing: border-box; /* This ensures padding is included in width */
}

.login-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
}

.login-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  max-width: 100%;
  gap: 30px;
}

.login-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.login-title {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Adjust spacing for inputs container */
.login-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px; /* Increased gap between inputs */
}

.login-input {
  display: flex;
  padding: 16px 20px; /* Increased padding for larger height */
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #E8E9F6;
  width: 100%;
  margin-bottom: 4px; /* Add a bit more spacing between inputs */
}

.login-input input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Increased font size */
}

.eye-icon {
  filter: brightness(0) invert(1);
  width: 22px; /* Slightly larger icon */
  margin-left: 10px;
  cursor: pointer;
}

.forgot-pass {
  color: #FFF;
  text-align: right;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  cursor: pointer;
}

.login-button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-button {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(90deg, #3525B0 45.5%, #3131BD 93%);
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.dont-have-acc {
  text-align: right;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
}

.dont-have-acc span {
  color: #545EAA;
  font-weight: 500;
  cursor: pointer;
}