/* .main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    font-family: Lexend;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid #E8E9F6;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.input input{
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    color: #E8E9F6;
    display: flex;
    width: 410px;
    padding: 12px;
    align-items: center;
    gap: 10px;
}

.eye-icon {
    filter: brightness(0) invert(1);
  }

.forgot-password {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 15px;
}

.forgot-password span {
  color: #797979;
  font-size: 14px;
  cursor: pointer;
}

.forgot-password span:hover {
  color: #4c00b4;
  text-decoration: underline;
}

.submit-container{
    display: flex;
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, #3525B0 45.5%, #3131BD 93%);
}

.submit{
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Lexend;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.already-have-acc{
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Lexend;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    padding-top: 10px;
}

.already-have-acc span{
    color: #545EAA;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Lexend;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
} */