.daily_mission_div{
    font-family: 'Poppins', sans-serif;;
    border-radius: 2px;
    padding-left: 126px;
    padding-right: 126px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Belum responsif khusus ini */
.first_column{
    font-family: 'Lexend', sans-serif;;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding-right: 55vw;
}    

.daily_title{
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.time_remaining{
    font-family: Poppins;
    color: white;
    font-weight: 400;
    background-color: #D9D9D999;
    border-radius: 5px;
    /* padding: 3px;*/
    width: 224px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.daily_completed{
    font-size: 25px;
    font-weight: 400;
    width: 309px;
    height: 46px;
    display: flex;
    color: white;
    background-color: #3525B0DE;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.missions-container {
    display: flex;
    gap: 0.75rem;
    padding-bottom: 0.5rem;
    margin-left: -0.25rem;
    padding-left: 0.25rem;
    margin-right: -0.25rem;
    padding-right: 0.25rem;
    overflow-x: scroll;
  }

.missions-container_empty{
    text-align: center;
    color: white;
    justify-content: center;
    text-decoration: underline;
}

.mission-card {
    height: 85px;
    padding: 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    flex-shrink: 0;
    width: 500px;
}

.mission-card-incomplete {
    background-color: #e5e7eb; /* gray-200 */
    color: #374151; /* gray-700 */
}

.mission-card-completed {
    background-color: #4338ca; /* indigo-700 */
    color: white;
}

.missions-container::-webkit-scrollbar {
    height: 6px;    
}

.missions-container::-webkit-scrollbar-track {
    background: transparent;
}

.missions-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}


/* <div className="bg-indigo-900 p-4 rounded-lg shadow-lg w-full max-w-md flex flex-col">
<div className="flex justify-between items-center mb-2">
  <h1 className="text-white text-xl font-bold">Daily Missions</h1>
  <div className="bg-gray-400 bg-opacity-20 text-xs text-white px-3 py-1 rounded-full"> */

  /* <div className="bg-indigo-800 bg-opacity-50 px-3 py-1 rounded-md text-white text-sm mb-4 inline-block"> */